body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

.table.table-striped{
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    color: black;
}

a{
    color: rgba(255, 255, 255, 0.736);
    border-radius: 50%;
    text-decoration: none;
}

a:hover{
    color: rgba(255, 255, 255, 0.218);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 15px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.218);
}


.modal{
    color: black;
}